.venv/
logs/
minio/
rustfs/
seaweedfs/
ollma/
postgres/
shared/

**/__pycache__/
**/*.log
**/*.duckdb
**/secrets.toml

.env
.user.yml
.DS_Store

# 트렁크 미사용 (혹시 로컬에서 trunk init 시 추적 방지)
.trunk/

# k8s values (로컬 전용)
values.yaml
